.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    padding-left: 16px;
    padding-right: 16px;
    max-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-height: 64px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}

.router-container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}