<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Address</th>
        </tr>

        <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.customIdName]">
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
            <td>{{ user.street }}</td>
        </tr>

    </table>
</mat-card>

<button (click)="openDialog()" mat-fab color="primary" class="add-user-btn" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>